/* General */

:root {
    --white-color: #FDF9F9;
    --primary-color: #E2083A;
    --secondary-color: #9B213A;
    --terciary-color: #791328;
    --dark-color: #480311;
    --dark-gray-color: #7C797A;
    --gray-color: #C1BCBD;
    --primary-gradient: linear-gradient(90deg, #480311 0%, #E2083A 100%);

}

* {
    box-sizing: border-box;
    list-style: none;
    font-family: "Marcellus", serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white-color);
    color: var(--dark-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.layout {
    min-height: 100dvh;
    display: grid;
    grid: "header" auto "main" 1fr "footer" auto / 1fr;
    position: relative;
}

header {
    grid-area: header;
}

header>div {
    justify-content: center;
    position: relative;
    z-index: 11;
    box-shadow: 0px 0px 5px 0px var(--dark-color);
    padding: 1.125rem 1.25rem;
}

main {
    width: 100%;
    grid-area: main;
    position: relative;
}

footer {
    grid-area: footer;
}

header>div,
main section>div,
footer>div {
    max-width: 1920px;
    margin: 0 auto;
}

/* Flex */

.center {
    display: flex;
    justify-content: center;
}

.rowCenter {
    display: flex;
    align-items: center;
}

.rowSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.rowSpaceBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapCenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapSpaceBetween {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.columnAlignCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Goral */

section {
    width: 100%;
}

section>div {
    gap: 1.25rem;
    padding: 3.75rem 1.25rem;
}

h1,
h2,
h3 {
    text-align: center;
    font-weight: 400;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

a,
.primaryButton,
.secondaryButton,
.hero p {
    font-size: 0.875rem;
}

p,
li {
    font-size: 0.75rem;
}

p,
p span {
    font-family: "Urbanist", sans-serif;
}

/* Buttons */

.primaryButton {
    background-color: var(--primary-color);
    border: none;
    border-radius: 7px;
    color: var(--white-color);
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 1.25rem;
}

.secondaryButton {
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    border-bottom-width: 3px;
    border-radius: 7px;
    color: var(--dark-color);
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 1.25rem;
}

.secondaryButton.active {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-bottom-width: 3px;
    border-radius: 7px;
}

/* Backgrounds & Typography */

.bgCover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-gradient {
    background: var(--primary-gradient);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-terciary {
    background-color: var(--terciary-color);
}

.bg-dark {
    background-color: var(--dark-color);
}

.bg-light {
    background-color: var(--white-color);
}

.text-dark-gray {
    color: var(--dark-gray-color);
}

.text-light {
    color: var(--white-color);
}

.text-secondary {
    color: var(--secondary-color);
}

/* Responsive */

@media (width >=700px) {
    header>div {
        padding: 1.5rem 2.5rem;
    }

    section>div {
        gap: 2rem;
        padding: 3.25rem 2.5rem;
    }

    h1 {
        font-size: 1.875rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3,
    p,
    .hero>p,
    a,
    .primaryButton,
    .secondaryButton {
        font-size: 1rem;
    }
}

@media (width >=1080px) {
    header>div {
        padding: 2rem 5rem;
    }

    section>div {
        gap: 2.5rem;
        padding: 5rem;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3,
    p,
    .hero>p,
    a,
    .primaryButton,
    .secondaryButton {
        font-size: 1.125rem;
    }

    .primaryButton,
    .secondaryButton {
        transition: all 0.3s;
    }

    .primaryButton:hover {
        background-color: var(--dark-color);
    }

    .secondaryButton:hover {
        border-color: var(--primary-color);
        border-bottom-width: 1px;
        color: var(--primary-color);
    }

    .secondaryButton.active {
        border-bottom-width: 3px;
    }
}